*{
    margin: 0;
    padding: 0;
}

body{
  background-color: rgba(242, 242, 242, 1)
}

.text5{
    margin: 30px auto;
    margin-top: 70px;
    width: 400px;
    text-align: center;
} 

p{
    width: 600px;
    margin: 50px auto;
    margin-bottom: 100px;
}

.text6{
    margin-top: 70px; 
    text-align: center;
}

#center{
    width: 100%;
}




@media screen and (max-width: 730px) {

    p{
        width: 350px;

    }

}