* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(242,242,242,1) ;
  background-size: cover;

  color: rgba(232,234,246 ,1);
}

h1{
  margin: 0 auto;
  font-size: 36px;
}

.intro {
  width: 90vw;

  padding: 1rem;
  margin-top: 1rem;

  background: rgba(41,182,246 ,1);
  color: rgba(1,87,155 ,1);
}

.row{
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-right: 60px;
  margin-bottom: 20px;
}

.g__wrapper {
  display: block;
  margin: 0;
  padding: 0;
}

.g__container{
  display: block;
  max-width:1140;
  margin: 0 auto;
  padding: 0px 16px;
}

.g__row{
  display: block;
  margin: px -16px;
  padding: 0;
  overflow: hidden;
}

.g__column {
  position: relative;
  float: left;
  padding:  16px;
  
 
  color: rgba(0,0,0,1);

}

a:link{
  color: rgba(242, 242, 242, 1);
  text-decoration: none;
}

a:visited{
  color: rgba(242, 242, 242, 1);
  text-decoration: none;
}

a:hover{
  color: rgba(200, 100, 50, 1);
  text-decoration: none;
}

a:active{
  color: rgba(242, 242, 242, 1);
  text-decoration: none;
}

.g__column-12{ width: 100%;}
.g__column-11{ width: 91.6667%;}
.g__column-10{ width: 83.3333%;}
.g__column-9{ width: 75%;}
.g__column-8{ width: 66.6667%;}
.g__column-7{ width: 58.3333%;}
.g__column-6{ width: 50%;}
.g__column-5{ width: 41.6667%;}
.g__column-4{ width: 33.3333%;}
.g__column-3{ width: 25%;}
.g__column-2{ width: 16.6667%;}
.g__column-1{ width: 8.3333%;}

.text1{
  font-family: Montserrat;
  font-size: 12px;
  margin-bottom: 10px;
}
.text2{
  font-family: Montserrat;
  font-size: 16px;
  margin-bottom: 10px;
}
.text3{
  font-family: Montserrat;
  font-size: 24px;
  margin-bottom: 10px;
}
.text4{
  font-family: Montserrat;
  font-size: 30px;
  margin-bottom: 10px;
}
.text5{
  font-family: Montserrat;
  font-size: 36px;
  margin-bottom: 10px;
}
.text6{
  font-family: Montserrat;
  font-size: 42px;
  margin-bottom: 10px;
}

.nav1{
  color: rgba(242, 242, 242, 1);
  background-color: rgba(0,250,0,1);
}

.nav2{
  color: rgba(242, 242, 242, 1);
  background-color: rgba(250, 100, 50, 1);
}

.nav3{
  color: rgba(242, 242, 242, 1);
  background-color: rgba(0,0,0,1);
}

.nav4{
  margin-top: 30px;
  color: rgba(242, 242, 242, 1);
  background-color: rgba(0,150,150,1);
}

li{
  
  display: inline-block;
  margin-top: 10px;
  margin-right: 10%;
  margin-bottom: 10px;
  margin-left: 10%;
}